
/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);


html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background:;
  
  font-weight:400px;
  margin: 0 0 300px;
  
}


#footer {
  background: #4d8574;
  position: absolute;
    left: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
}



ul li {
  list-style: none;
}

a:hover {
outline: none;
text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.btn:hover, 
.btn:focus{
  outline: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: #000;
}


/*************************
*******Header CSS******
**************************/

.header_top {
  background: none repeat scroll 0 0 #F0F0E9;
  max-height: 30px;
}

.contactinfo ul li:first-child{
    margin-left: -15px;
}

.contactinfo ul li a{
  font-size: 12px;
  color: #696763;
  font-family: 'Roboto', sans-serif;
}


.contactinfo ul li a:hover{
  background:inherit;
}


.fa-facebook:hover {
  background: #0083C9;
}

.fa-twitter:hover  {
  background:#5BBCEC;
}

.fa-linkedin:hover  {
  background:#FF4518;
}

.fa-instagram:hover {
  background:#D4A190;
}

#headmid {
  background-color: #4d8574;
  height: 150px;
}

.topMenu {
  right: 0px;
}

#topIcon a {
  background-color: #F0F0E9;
}

.header-middle .container .row {
  border-bottom: 1px solid #4d8574;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}

.header-middle .container .row .col-sm-4{
  padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
  padding-right:0;
}


.btn-group.open .dropdown-toggle {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.dropdown-menu  li  a:hover, .dropdown-menu  li  a:focus {
  background-color: #85564d;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}


.index-menu ul li {
  display:inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.index-menu ul li:last-child {
  padding-right: 0;
}


.index-menu ul li a {
  background: #FFFFFF;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding:0;
  padding-right: 0;
  margin-top: 10px;
}


.index-menu ul li a i{
  margin-right:3px;
}


.index-menu ul li a:hover {
  color:#85564d;
  background:#fff;
}


.header-bottom {
  padding-bottom: 30px;
  padding-top: 30px;
}

.navbar-collapse.collapse{
  padding-left: 0;
}

.mainmenu ul li{
  padding-right: 15px;
  padding-left: 15px;
}

.mainmenu ul li:first-child{
  padding-left: 0px;
}

.mainmenu ul li a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  padding: 0;
  padding-bottom: 10px;
}

.mainmenu ul li a:hover, .mainmenu ul li a.active,  .shop-menu ul li a.active{
  background:none;
  color:#850F0F;
}


/*  Dropdown menu*/

.navbar-header 
.navbar-toggle .icon-bar {
    background-color: #fff;
}


.nav.navbar-nav > li:hover > ul.sub-menu{
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}

ul.sub-menu {
  position: absolute;
  top: 30px;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 220px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 999;
}

.dropdown ul.sub-menu li .active{
  color: #FDB45E;
  padding-left: 0;
}


.navbar-nav li ul.sub-menu li{
  padding: 10px 20px 0 ;
}

.navbar-nav li ul.sub-menu li:last-child{
  padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a{
  color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover{
    color: #FDB45E;
}

.fa-angle-down{
  padding-left: 5px; 
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

  
/*************************
*******Footer CSS******
**************************/

#footer {
  background: #4d8574;
}


.footer-top .col-sm-3{
  overflow: hidden;
}



.footer-widget {
  margin-bottom: 38px;
}

.footer-widget .container {
  border-top: 1px solid #FFFFFF;
  padding-top: 15px;
}

.single-widget h2 {
  color: #F0F0E9;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.single-widget h2 i{
  margin-right:15px;
}

.single-widget ul li a{
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 0;
}

.single-widget ul li a i {
  margin-right: 18px;
}

.single-widget ul li a:hover{
  background:none;
  color:#5f4d85;
}


.social-icons ul li a {
  border: 0 none;
  border-radius: 0;
  color: #F0F0E9;
  padding:0px;
}


.social-icons ul li{
  display:inline-block;
}

.social-icons ul li a i {
  padding: 11px 15px;
   transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover{
  color: #fff;
   transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}


/*************************
*******Kategori CSS*******
**************************/


.category-products {
  border: 1px solid #850F0F;
  margin-bottom: 35px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.left-sidebar h2 {
  color: #850F0F;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index:3;
}

.category-products .panel {
  background-color: #FFFFFF;
  border: 0px;
  border-radius: 0px;
  box-shadow:none;
  margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
  background-color: #FFFFFF;
  border: 0 none;
  color: #FFFFFF;
  padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0 none;
}

.category-products .panel-default .panel-heading .panel-title .catInput .catPut {
  background-color:#850f0f;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  border:1px solid #614d85;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Roboto', sans-serif;
  font-size:18px;
  padding:15px 10px;
  text-decoration:none;
  text-shadow:0px 2px 0px #000000;
  width: 220px;
}

.category-products .panel-default .panel-heading .panel-title .catInput .catPut:hover {
  background-color:#614d85;
}

.category-products .panel-default .panel-heading .panel-title .catInput .catPut:active {
  position:relative;
  top:1px;
}

.panel-body ul{
  padding-left: 20px;
}

.panel-body ul li a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.padding-right {
  padding-right: 0;
}

h2.title {
  color: #850F0F;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

h3 .h3 {
  color: #850F0F;
  font-family: 'Roboto', sans-serif;
  font-size: 58px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}


/*************************
*******PRODUKT CSS******
**************************/

#Produktboks {
  align-items: center;
  border:1px solid #333; 
  background-color:#f1f1f1; 
  border-color: #850F0F;
  border-radius:5px; 
  padding:16px;
}

#produktkøb {
  margin-top:5px;
}

#produktlæs {
  margin-top:5px;
}

#produktliste {
  margin-bottom: 20px;
}



/*************************
******Produkt Gal CSS*****
**************************/


#BilledeKategoriYdre {
  padding-bottom: 15px;

}

.BilledeKategori {
 border-bottom-width: 10px!important; 
 border:5px solid #850F0F!important; 
 border-radius: 5px!important;
 position: relative;
}

.banner {
  background-color: #850F0F;
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 40px;
  font-size: 30px;
}